body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    background-color: #562020;
}

header p a {
    list-style-type: none;
    color: white;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 30px;
    width: 100%;
}

header nav ul a {
    color: #FFFFFF;
}

header p {
    color: #FFFFFF;
}
main.titoli {
    max-width: 1120px;
    margin: auto;
    display: flex;
    font-size: 60px;
}

main.titoli h2 {
    color: #562020;
}


section.iniziale {
    height: 5px;
    background-color:#B7B2B2;
    
    margin: auto;
    display: flex;
}

main.titoli h1 {
margin-bottom: 0px;
}

main.titoli h2 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
}

main.testo {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
    margin-top: 50px;
}

section.linea {
    max-width: 1300px;
    margin: auto;
    display: flex;
    height: 5px;
    background-color: black;
}

main.testo2 {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
}

section.titolo2 {
    max-width: 1120px;
    font-size: 50px;
    justify-content: center;
    margin-left:600px;
    margin: auto;
    display: flex;
    color: #3E1717;
}

section.titolo2 h1 {
margin-bottom: 0px;
}

section.linea2 {
    max-width: 1300px;
    margin: auto;
    display: flex;
    height: 20px;
    background-color: black;
}

main.elenco {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    margin-left:200px;
    font-size: 50px;
    margin: auto;
    display: flex;
}


footer nav ul {
  
    list-style-type: none;
    font-size: 30px;
    justify-content: center;
    justify-content: space-between;
    background-color: #562020;
    
    display: flex;
    padding: 20px;
}

footer nav ul a {
    color: #FFFFFF
}

.infoartisti {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    color: #3E1717;
}

section.lineaartisti2 {
    height: 20px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
}

.info-artisti {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

section.titoloartisti {
    margin: auto;
    display: flex;
    font-size: 60px;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 30px;
    color: #3E1717;
}

section.lineaartisti {
    height: 20px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
}


footer.artisti {
    margin-top: 100px;
}

.info-mostra {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    color: #3E1717;
}

section.lineamostra {
    height: 20px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

section.testomostra p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

section.testomostra h1 {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

section.lineamostra2 {
    height: 20px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer.mostra {
    margin-top: 100px;
}

.info-utili {
    text-align: center;
    font-size: 50px;
    color: #562020;
}

section.lineainfo {
    height: 10px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.testoinfo {
    max-width: 1300px;
    margin: auto;
    display: flex;
    text-align: center;
    font-size: 40px;
   margin-bottom: 20px;
}

section.lineainfo2 {
    height: 10px;
    background-color: black;
    max-width: 1300px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.titoloinfo {
    text-align: center;
    font-size: 50px;
    color: #562020;
}

.infotesto p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

footer.info {
    margin-top: 100px;
}

.container {
    display: flex;
}

.column {
    flex: 1fr 2fr 3fr
}

div.conteiner {
    display: flex;
    max-width: 1300px;
    margin: auto;
    justify-content: center;
    grid-column-gap: 100px;
    margin-top: 50px;
}

div.column a {
    font-size: 40px;
    color: black;
}

section.jean {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
   
    
}

section.testojean p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

.containerfotohattie {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
    
}

section.hattie {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testohattie p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

.containerfotojean {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}



section.paul {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testopaul p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

.containerfotopaul {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}

section.martina {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testomartina p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

.containerfotomartina {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}

section.adrian {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testoadrian p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 20px;
}

.containerfotoadrian {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}

section.michelle {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testomichelle p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 50px;
}

.containerfotomichelle {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}

section.sanna {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testosanna p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 50px;
}

.containerfotosanna {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    
}

section.emily {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testoemily p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 50px;
}

.containerfotoemily {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
}

section.icinori {
    text-align: center;
    font-size: 50px;
    background-color: #B7B2B2;
    max-width: 1300px;
    margin: auto;
}

section.testoicinori p {
    max-width: 1300px;
    margin: auto;
    display: flex;
    font-size: 40px;
   margin-bottom: 50px;
}

.containerfotoicinori {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
}

section.gruppo2 {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2sanna {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2emily {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2martina {
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2adrian{
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2michelle{
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2paul{
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2hattie{
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.gruppo2jean{
    columns: 4;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

section.info-utili h1 {
    margin-bottom: 10px;
}

section.titoloinfo h1 {
    margin-bottom: 10px;
}

section.infotesto {
    margin-top: 50px;
}

section.lineamostra {
    margin-bottom: 50px;
}

section.lineamostra2 {
    margin-top: 50px;
}

section.fotoesempio {
    max-width: 1300px;
    
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}

section.fotoesempio p {
    font-size: 45px;
    margin-left: 20px;
    text-decoration: underline;
}